.row
  .content.col-md-4
    .jumbotron{align: 'center'}
      %h1
        Congratulations
      %h1
        You have successfully verified your profile,
      %h2
        Now you can login to the site!
      %h2
        ="To login to the site, just follow this link: #{@url}."
