.row
  .content.col-md-4
    .jumbotron{align: 'center'}
      %h1
        Welcome to GPSTracker.com
      %h1
        You have successfully signed up to GPSTracker.com,
      %h2
        ="your username is: #{@user.email}."
      %h2
        ="To verify your profile, just follow this link: #{@url}."
      %h2
        Thanks for joining and have a great day!
