{data: {way: @today.to_json}}
- m = ''
- n = ''
- @trackers.each do |tracker|
  - m = tracker.created_at.strftime('%b  %e')
  - if n != m
    - n = m
    %li
      = link_to tracker.created_at.strftime('%b  %e'),
          dashboard_path(tracker)
