= form_with(model: user, local: true) do |form|
  .row
    .content.col-md-4.col-md-offset-4
      .panel.panel-primary
        .panel-heading
          .h1=@act
        .panel-body
          - if current_user.errors.any?
            .alert.alert-danger{:role => "alert"}
              %ul
                - user.errors.full_messages.each do |message|
                  %li= message

          .field
            .form-group
              %label{:for => "exampleInputEmail1"} Email address
              = form.text_field :email, class: 'form-control', value: @email_f, placeholder: 'example@gmail.com'
              %small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
          .field
            .form-group
              %label{:for => "exampleInputPassword1"} Password
              %input#exampleInputPassword1.form-control{:placeholder => "Password", :type => "password", name: :'user[password]'}/

          .field
            .form-group
              %label{:for => "exampleInputPassword2"} Check password
              %input#exampleInputPassword1.form-control{:placeholder => "Password", :type => "password", name: :'user[password_confirmation]'}/

          -if @act == "New User"
            .field{:align => "center"}
              = button_to("Create", { action: "new" }, class: "btn btn-primary")
          -else
            .field{:align => "center"}
              =form.submit 'Change', class: "btn btn-primary"
