= form_with(local: true, url: profile_path) do |form|
  .row
    .content.col-md-4.col-md-offset-4
      .panel.panel-primary
        .panel-heading
          .h1{align: 'center'} Create User
        .panel-body
          - if @user.errors.any?
            .alert.alert-danger{role: 'alert'}
              %ul
                - @user.errors.full_messages.each do |message|
                  %li= message
          .field
            .form-group
              %label{for: 'inputEmail1'} Email address
              %input#inputEmail1.form-control{'aria-describedby': 'emailHelp', placeholder: "example@gmail.com", type: "email", name: 'user[email]'}/
              %small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
          .field
            .form-group
              %label{for: 'inputPassword1'} Password
              %input#inputPassword1.form-control{placeholder: 'Password', type: 'password', name: 'user[password]'}/

          .field
            .form-group
              %label{for: 'inputPassword2'} Check password
              %input#inputPassword2.form-control{placeholder: 'Password', type: 'password', name: 'user[password_confirmation]'}/

          .field{align: 'center'}
            =form.submit 'Create', class: 'btn btn-primary'
