#main-container.container-fluid
  - if flash[:notice]
    .row
      .content.col-md-4.col-md-offset-4
        .jumbotron{align: 'center'}
          .notice= flash[:notice]
  .row
    .content.col-md-4.col-md-offset-4
      .panel.panel-primary{align: 'center'}
        .panel-heading{style: 'background-color : rgba(0,255,0, 0.5)'}
          %h1 Users info
        .panel-body
          .field
            %p
              %strong Email:
              = current_user.email
          .field
            %p
              %strong Created at:
              = current_user.created_at
          = link_to 'Destroy User', profile_path, method: :delete, data: { confirm: 'Are you sure you want to delete your account?'}
