#main-container.container-fluid{data: {way: @today.to_json}}
  .row
    .content.col-md-6.col-md-offset-3
      .jumbotron
        %h1{:align => "center"} GPS Tracker
        %p{:align => "center"} This project allows you to track yourself!
  -if current_user
    .row
      .content.col-md-12
        %h1{:align => "center"}
          #number
