#main-container.container-fluid
  .row
    #content.col-md-3.col-xs-3
      %h1 Listing locations
    #content.col-md-9.col-xs-9
      #content.col-md-6.col-xs-6
        %h1 Latitude
        %table.table
          - @trackers.each do |tracker|
            %tr.active
              %td{:style => "color:blue;"}
                = tracker.lat
      #content.col-md-6.col-xs-6
        %h1 Longitude
        %table.table
          - @trackers.each do |tracker|
            %tr.active
              %td{:style => "color:green;"}
                = tracker.lon
